# Example .env file for wattnet storage client configuration

# Storage Clients 
STORAGE_CLIENTS=["victoriametrics"]

## Storage Database Settings
STORAGE_DB_URL=http://localhost:8428
TIMESERIES_STEP_MINUTES=15

# Logging Settings
LOG_LEVEL=INFO
LOG_HANDLERS=["console","file"]
LOG_FILE=./logs/wattnet-storage.log
