# Example .env file for wattnet storage client configuration

# Storage Clients 
STORAGE_CLIENTS=["clickhouse"]

## ClickHouse Settings
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
DATABASE=wattnet
TIMESERIES_STEP_MINUTES=15

# Logging Settings
LOG_LEVEL=INFO
LOG_HANDLERS=["console","file"]
LOG_FILE=./logs/wattnet-storage.log
